body{
    font-family: 'Courier New', Courier, monospace;
}

.before {
    color: cadetblue;
}

.after{
    color: darkcyan;
}

div {
    font-size: 20px;
}

.main{
    padding-left: 200px;
}

.side-content{
    width: 200px;
    height: 80%;
    background-color:white;
    position: absolute;
    overflow-y: scroll;
}

.side-content span{
    display: block;
}

.program_item:hover{
    background-color: gray;
}

#right_bar{
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40px;
    position: fixed;
    background-color: white;
    opacity: 0.9;
}

.rect{
    right: 0px;
    width: 40px;
    position: fixed;
    background-color: yellow;
    opacity: 0.8;
}